<header>
  <a class="logo" href="/">Bunny Ears</a>
</header>

<form class="access-form" action="<%= access_url %>" method="post">
  <%= form_auth_token %>

  <label for="access_password">Admin Access</label>
  <input id="access_password" type="password" name="access[password]">
</form>
