<form action="<%= access_url %>" method="post">
  <%= form_auth_token %>
  <input type="hidden" name="_method" value="delete">

  <button>Log Out</button>
</form>
<div id="content"></div>

<script type="text/jsx" src="<%= asset_path "reactManifest.js" %>"></script>

<script type="text/jsx">
  $(function () {
    var TvList = BunnyEars.TvList;
    React.render(<TvList />, document.getElementById("content"));
  });
</script>

<script id="mark">
  <%= [@mark].to_json.html_safe %>
</script>
