<main id="content"></main>

<script type="text/jsx" src="<%= asset_path "publicManifest" %>"></script>

<script type="text/jsx">
  $(function () {
    var App = BunnyEars.App;
    React.render(<App />, document.getElementById("content"));
  });
</script>


<article>
  <div class="content-left">

  </div>

  <div class="content-right">
    <h1></h1>
    <p></p>
  </div>
</article>