<main id="content"></main>

<script src="<%= asset_path "publicManifest.js" %>"></script>

<script>
  $(function () {
    var App = BunnyEars.App;
    React.render(<App />, document.getElementById("content"));
  });
</script>
