.admin-header {
  margin-bottom: 30px;
}

.admin-nav {
  button {
    margin: 10px 5px;
  }
}

ul.admin {
  li {
    width: calc(100% - 40px);
    padding: 10px 20px;
  }

  img {
    display: block;
    float: left;
    width: 75px;
    height: auto;
  }

  .block {
    @extend img;
    height: 100px;
    background: #ccc;
  }

  article.content {
    display: block;
    float: left;
    width: calc(100% - 85px);
    margin-left: 10px;
  }

  strong, p {
    display: block;
    cursor: default;
  }

  input, textarea {
    margin: 5px 0;
    padding: 5px;
    font-size: 12px;
    text-align: left;
    border-bottom: 0;

    &.title {
      font-size: 16px;
    }

    &.title, &.description {
      width: calc(100% - 20px);
    }

    &.start_year, &.end_year {
      width: 50px;
    }

    &.image-url {
      width: calc(100% - 89px);
    }
  }

  textarea {
    height: 70px - 10px;
  }

  .years,
  .description {
    font-size: 12px;
  }

  button {
    margin: 5px 0;
    padding: 5px 10px;
    font-size: 12px;
    vertical-align: bottom;
  }

  .delete {
    background: #D24D57;
  }

  strong {
    cursor: default;
  }
}