.admin-header {
  margin-bottom: 30px;
}

ul.admin {
  li {
    width: calc(100% - 40px);
    padding: 10px 20px;
  }

  img {
    display: block;
    float: left;
    width: 75px;
    height: auto;
  }

  .block {
    @extend img;
    height: 100px;
    background: #ccc;
  }

  article.content {
    display: block;
    float: left;
    width: calc(100% - 85px);
    margin-left: 10px;
  }

  form {
    margin: 10px 0;
  }

  input {
    width: calc(100% - 89px);
    padding: 5px 10px;
    font-size: 16px;
    text-align: left;
    border-bottom: 0;
  }

  button {
    margin: 0;
    padding: 7px 10px;
    font-size: 12px;
    vertical-align: bottom;
  }

  .delete {
    background: #D24D57;
  }

  strong {
    cursor: default;
  }
}