/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree ./fontello
 *= require_tree .
 */

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import "variables";

html, body, strong, ul, li, img, button, form, input, a, main, textarea, p, h1,
div, fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

input, textarea {
  display: inline-block;
  box-sizing: content-box;
}

button {
  background: none;
  box-sizing: content-box;
  cursor: pointer;
}

input:focus,
textarea:focus,
button:focus {
  outline: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #F2F1EF;
}

ul {
  list-style: none;
}

img {
  display: block;
}

h1 {
  display: block;
  font-weight: 700;
  font-size: $logo_size_small;

  @media (min-width: 500px) {
    font-size: $logo_size_large;
  }
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.errors {
  margin-bottom: 20px;
  text-align: center;
  font-size: 12px;
  color: $error_red;
}

main {
  padding-bottom: 100px;
}
