@import "variables";

header {
  text-align: center;
}

a.logo {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: $logo_size_small;
  text-decoration: none;
  color: #fff;
  background: $main_color;

  &:after {
    content: "";
    position: relative;
    top: 3px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 4px;
    background-image: image-url("bunny.png");
    background-size: cover;
  }
}

.public-nav {
  li {
    float: left;
    width: 50%;
  }

  a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #000;
    background: #fff;
    border-bottom: 3px solid #ccc;

    &.selected {
      border-color: $main_color;
    }
  }
}

@media (min-width: 500px) {
  a.logo {
    font-size: $logo_size_large;

    &:after {
      width: 30px;
      height: 30px;
    }
  }

  nav {
    width: 80%;
    max-width: 600px;
    margin: auto;
  }
}

.header-form {
  margin: 30px 0;

  &.Recommend {
    font-size: 20px;

    .recommend {
      display: block;
    }

    .search {
      display: none;
    }
  }

  &.Search {
    .search {
      display: block;
    }

    .recommend {
      display: none;
    }
  }

  @media (min-width: 500px) {
    position: relative;
    height: 140px;
    margin-bottom: 50px;

    &.Recommend {
      font-size: 28px;
    }

    .search {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    input {
      font-size: 28px;
    }
  }
}
