@import "variables";

header {
  text-align: center;
}

nav {
  li {
    float: left;
    width: 50%;

    a {
      display: block;
      padding: 10px 0;
      text-decoration: none;
      color: #000;
      background: #fff;
      border-bottom: 3px solid #ccc;

      &.selected {
        border-color: $main_color;
      }
    }
  }

  &.admin-nav {
    button {
      margin: 10px 5px;
    }
  }
}

a.logo {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  background: $main_color;
}

.header-form {
  margin: 30px 0;

  &.Recommend {
    .recommend {
      display: block;
    }

    .search {
      display: none;
    }
  }

  &.Search {
    .search {
      display: block;
    }

    .recommend {
      display: none;
    }
  }
}
