@import "variables";

$tv_card_size: 150px;

.cards {
  margin: 0 5px;
  text-align: center;

  li {
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    cursor: pointer;
  }

  .block {
    display: block;
    width: 100px;
    height: $tv_card_size;
    background: #ccc;
  }

  article {
    display: none;
  }
}

img {
  width: auto;
  height: $tv_card_size;
}

.expand {
  height: 490px;

  .image-wrapper:after {
    content: "";
    position: relative;
    left: 50%;
    margin-left: -20px;
    display: block;
    width: 0;
    border-top: 0;
    border-bottom: 20px solid $dark_main_color;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  article {
    display: block;
    width: calc(100% - 40px);
    position: absolute;
    left: 0;
    height: (490px - $tv_card_size - 20px - 10px) - 60px;
    padding: 30px 20px;
    text-align: left;
    color: #fff;
    background: $dark_main_color;
    cursor: default;

    .wrapper {
      display: block;
      width: 100%;
      max-width: 800px;
      height: 100%;
      margin: auto;
    }
  }
}

$article_image_size: 100%;

.tv-left {
  float: left;
  width: 33%;
  margin-right: 20px;

  img {
    width: $article_image_size;
    height: auto;
  }

  .image-block {
    width: $article_image_size;
    height: 180px;
    background: #ccc;
  }
}

.content-right {
  float: left;
  width: calc(67% - 20px);
  height: 100%;

  strong {
    display: block;
    margin-bottom: 10px;
    color: #ccc;
  }

  p {
    line-height: 1.4;
  }
}

$article_height: (700px - 250px - 20px - 10px) - 80px;
@media (min-width: 500px) {
  .cards {
    width: 90%;
    margin: auto;

    .block {
      width: 150px;
      height: 250px;
    }
  }

  img {
    height: 250px;
  }

  .expand {
    height: 700px;

    article {
      padding: 40px 20px;
      height: $article_height;
    }
  }

  .tv-left {
    width: auto;
    height: $article_height;

    img {
      width: auto;
      height: 100%;
    }

    .image-block {
      width: 270px;
      height: 100%;
    }
  }

  .content-right {
    float: initial;
    width: auto;
    font-size: 20px;
  }
}